.dirs_list {
  
}

.list_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 30px;
  color: #111;
}

.list_item_selected {
  background-color: #999;
  color: #fff;
}

.item_icon {
  margin-right: 4px;
}

.item_input {
  color: #111;
}
